{% extends 'main.html' %}

{% block title %}
        All posts
{% endblock %}

<!--Контейнер для статей-->
<div class="feature col">
{% block body %}
<div class="col d-flex flex-column align-items-start gap-2">
    {% for el in obj %}
        <h2 class="fw-bold text-body-emphasis"> {{ el.title }} </h2>
        <p class="text-body-secondary"> {{ el.intro }}</p>
        <a href="/post/{{ el.id }}" class="btn btn-primary btn-lg">Read all</a>
    {% endfor %}
      </div>

{% endblock %}
</div>
<!--Конец контейнера-->