{% extends 'main.html' %}

{% block title %}
        Create
{% endblock %}

    <div class="container">
            {% block body %}
               <h2 class="text-body-emphasis">Добавить статью</h2>
        <form method="post" action="/create" >
            <input type="text" name="title" id="title" class="form-control" placeholder="Название"><br>
            <textarea type="text" name="intro" id="intro" class="form-control" placeholder="Анонс"></textarea><br>
            <textarea type="text" name="text" id="text" class="form-control" placeholder="Текст статьи"></textarea><br>
           <div class="text-center">
               <button type="submit" class="btn btn-primary btn-lg">Отправить</button>
           </div>

        </form>
            {% endblock %}
    </div>